<div class="container">
<div id="edit-row" class="row">
<div class="col-lg-4 col-md-5 col-sm-2 mt-5">
    <div class="list-group">
    <span class="list-group-item list-group-item-success"><%=current_user.username%></span>
    <a href="/products/isonsell" class="list-group-item">Satışta Olanlar<span class="badge badge-warning float-right"><%= current_user.psellingcount %></span></a>
    <a href="" class="list-group-item">Satılanlar <span class="badge badge-warning float-right"><%= current_user.psoldedcount %></span></a>
     <% @users.each do |user| %>
     <% if user.id == current_user.id%>
     <%= link_to favorites_index_path , :class=>"list-group-item" do %>
      Favorilerim
      <span class="badge badge-warning float-right"><%= current_user.pfavoritescount %></span>
     <% end %>
  <% end %>
   <% end %>
    <a href="#" class="list-group-item bg-secondary disabled">Mesajlar</a>
    <a href="/users/edit" class="list-group-item">Üyeliğimi Güncelle</a>
  </div>
  </div>
<div class="col-lg-8 col-md-7 col-sm-10 mt-5">
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Gelen Kutusu</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar"  placeholder="Search" >
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
            </div>
          </div>
          <div class="inbox_chat">
          <% @conversations.each do |conversation| %>
            <div class="chat_list active_chat">
              <div class="chat_people">
                <div class="chat_img"> <%= image_tag(current_user.avatar.url(:thumb), border: 0,:class=>"avatar")%> </div>
                <div class="chat_ib">
                  <h5><%= link_to conversation.recipient(current_user).username, conversation_messages_path(conversation) %>
                    <% if !conversation.unread_message_count(current_user).zero? %>
                        (<%= conversation.unread_message_count(current_user) %>)
                    <% end %> <span class="chat_date"><%=@message.created_at%></span></h5>
                  <p><%= @message.body %></p>
                </div>
              </div>
            </div>
              <% end %>
          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history">
            <div class="incoming_msg">
             
              <div class="incoming_msg_img"> <%= image_tag(current_user.avatar.url(:thumb), border: 0,:class=>"avatar")%> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p></p>
                  <span class="time_date"> </span></div>
              </div>
             
            </div>
             <% @messages.each do |message| %>
             <% if message.body %>
              <div class="outgoing_msg">
                <div class="sent_msg">
                  <p><%= message.body %></p>
                  <span class="time_date"> <%= message.created_at %> </span> </div>
              </div>
             <% end %>
            <% end %>
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Test, which is a new approach to have</p>
                  <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
              </div>
            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p>Apollo University, Delhi, India Test</p>
                <span class="time_date"> 11:01 AM    |    Today</span> </div>
            </div>
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>We work directly with our designers and suppliers,
                    and sell direct to you, which means quality, exclusive
                    products, at a price anyone can afford.</p>
                  <span class="time_date"> 11:01 AM    |    Today</span></div>
              </div>
            </div>
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
            <%= form_for [@conversation, @message] do |f| %>
            <%= f.text_area :body, :class=>"write_msg", placeholder: "Your message"%>
               <%= button_tag( :class => "msg_send_btn") do %>
                 <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                <% end %>
             <% end %>
            </div>
          </div>
        </div>
        </div>
      </div>
      </div>