<div class="container">
<div id="edit-row" class="row">
  <div class="col-lg-4 col-md-5 col-sm-4">
    <div class="list-group">
    <span class="list-group-item list-group-item-success"><%=current_user.username%></span>
    <a href="/products/isonsell" class="list-group-item">Satışta Olanlar<span class="badge badge-warning float-right"><%= current_user.psellingcount %></span></a>
    <a href="/products/sellingnow" class="list-group-item">Satılanlar <span class="badge badge-warning float-right"><%= current_user.psoldedcount %></span></a>
    <% @users.each do |user| %>
     <% if user.id == current_user.id%>
      <%= link_to favorites_index_path , :class=>"list-group-item" do %>
      Favorilerim
      <span class="badge badge-warning float-right"><%= current_user.pfavoritescount %></span>
     <% end %>
    <%= link_to 'Mesajlar', conversations_path(sender_id: current_user.id, receiver_id: user.id), method: :post , :class=>"list-group-item" %>
  <% end %>
   <% end %>
    <a href="/users/edit" class="list-group-item bg-secondary disabled">Üyeliğimi Güncelle</a>
  </div>
  </div>
  <div class="col-lg-8 col-md-7 col-sm-8">
   <div id="login-register-card" class="card login-register-card" style="width: 18rem;">
  <img src="https://www.w3schools.com/images/picture.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Update",:id=>"sign-login-buttons",:class=>"btn btn-outline-success my-2 my-sm-0" %>
        </div>
      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>
  </div>
</div>
  </div>
</div>
</div>