<div>
<div class="container">
  <div class="product-container">
   <div id="row-products" class="row">
    <% @products.each do |product| %>
     <div class="col-md-6 col-lg-4">
    <div class="card" style="width: 18rem;">
       <%= link_to(image_tag(product.photo.url(:medium), :class=>"img-slider"), product) %>
      <div class="card-body">
        <h5 class="card-title"><%= product.pname %></h5>
        <p class="card-text"><%= product.pdescription %></p>
        <p class="card-price"><%= product.pprice %><img id="turkish-coin-icon" src="https://image.flaticon.com/icons/svg/12/12037.svg" width="15" height="25" alt="Turkish Lira free icon" title="Turkish Lira free icon"></p>
        <p class="card-location"><%= product.plocation %></p>
       <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div id="btn-group" class="btn-group mr-5" role="group" aria-label="First group">
          <%= link_to(image_tag("https://image.flaticon.com/icons/svg/25/25297.svg" ,:class=>"fav-icon-button"), product) %>
        </div>
        <div id="btn-group" class="btn-group mr-5 pl-1" role="group" aria-label="Second group">
          <%= link_to(image_tag("https://image.flaticon.com/icons/svg/2089/2089808.svg" ,:class=>"share-icon-button"), product) %>
        </div>
        <div id="btn-group" class="btn-group pl-1" role="group" aria-label="Third group">
        <% if user_signed_in? %>
          <% @users.each do |user| %>
          <% if user.id == product.user_id%>
            <%= link_to(image_tag("https://image.flaticon.com/icons/svg/2089/2089211.svg" ,:class=>"share-icon-button"), conversations_path(sender_id: current_user.id, receiver_id: user.id), method: :post )%>
          <% end %>
          <% end %>
        <% else %>
            <%= link_to(image_tag("https://image.flaticon.com/icons/svg/2089/2089211.svg" ,:class=>"share-icon-button"), new_user_session_path)%>
        <% end %>
        </div>
      </div>
      </div>
      </div>
      </div>
    <% end %>
    </div> 
   </div> 
<br>
</div>
</div>