<div class="container">
<%= content_tag(:div, content_tag(:p), class: "favori-alert", id:'favorite_link', remote: true) %>
   <div id="row-products" class="row">
    <% @products.each do |product| %>
     <% if product.isonsell == true%>
     <div class="col-md-6 col-lg-4">
    <div class="card" style="width: 18rem;">
       <%= link_to(image_tag(product.photo.url(:medium), :class=>"img-slider"), product_path(product)) %>
      <div class="card-body">
        <h5 class="card-title"><%= product.pname %></h5>
        <p class="card-text"><%= product.pdescription %></p>
        <p class="card-price"><%= product.pprice %><img id="turkish-coin-icon" src="https://image.flaticon.com/icons/svg/12/12037.svg" width="15" height="25" alt="Turkish Lira free icon" title="Turkish Lira free icon"></p>
       <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div id="btn-group" class="btn-group mr-4" role="group" aria-label="First group">
         <% if user_signed_in? %>
          <% @users.each do |user| %>
          <% if user.id == product.user_id%>
            <%= link_to favorites_update_path(product: product), :class=>"btn btn-sm btn-success", remote: true do %>
            <i class="fas fa-heart" style="font-size: 32px;"></i>
            <% end %>
           <% end %>
          <% end %>
        <% end %>
        </div>
        <div id="btn-group" class="btn-group mr-4 pl-1" role="group" aria-label="Second group">
          <%= content_tag(:a,:'class' => 'btn btn-sm btn-success pop', :'data-toggle' => 'popover',
                          :'data-content' => content_tag(:input,nil,readonly: true, id: "link-input",
                          :value => ('http://localhost:3000/'+product_path(product.id)))+('<button id="share-copy-button" class="btn btn-primary" onclick="copyToClipboard()">Kopyala</button>')) do %>
            <i class="fas fa-share-square" style="font-size: 32px;"></i>
          <%end%>
          </div>
        <div id="btn-group" class="btn-group pl-1" role="group" aria-label="Third group">
        <% if user_signed_in? %>
          <% @users.each do |user| %>
          <% if user.id == product.user_id%>
           <%= link_to conversations_path(sender_id: current_user.id, receiver_id: user.id), method: :post, :class=>"btn btn-sm btn-success" do %>
            <i class="fas fa-comments" style="font-size: 32px;"></i>
            <% end %>
          <% end %>
          <% end %>
        <% else %>
        <%= link_to new_user_session_path, :class=>"btn btn-sm btn-success" do %>
            <i class="fas fa-comments" style="font-size: 32px;"></i>
        <% end %>
        <% end %>
        </div>
        
      </div>
      </div>
      </div>
      </div>
    <% end %>
     <% end %>
    </div> 
<br>
</div>
<script>
$(document).ready(function(){
    $('.pop').popover({
      container: 'body',
      html:true,
      title: '<span class="text-info">Share</span>' +
      '<button type="button" id="close" class="close" onclick="$(&quot;.pop&quot;).popover(&quot;hide&quot;);">&times;</button>',
      placement: 'top'
    });
  });
  function copyToClipboard() {
    var textBox = document.getElementById("link-input");
    textBox.select();
    document.execCommand("copy");
    }
</script>