  <div class="products">
  <div class="container">
    <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="product-edit">
      <%= form_with model: @product, :html => { :multipart => true } do |form| %>
            <p>
                <%= form.label :"Ürün Başlığı:" %>
                <%= form.text_field :pname ,:class=>"autocomplete form-control", :required => true%>
                
            </p>
            <p>
                <%= form.label :"Ürün Açıklama:" %>
                <%= form.text_area :pdescription,:class=>"autocomplete form-control", :required => true, :rows => 4 %>
                
            </p>
            <p>
                <%= form.label :"Ürün Fiyatı:" %>
                <span id="product-price-lab"><%= form.number_field :pprice ,:id=>"product-price-label",:class=>"autocomplete form-control", :required => true%>
                <img id="turkish-coin-icon" src="https://image.flaticon.com/icons/svg/12/12037.svg" width="25" height="25" alt="Turkish Lira free icon" title="Turkish Lira free icon">
                </span>              
            </p>
             <p>
                 <%= form.file_field :images, multiple: true, :required => true %>
            </p>
             <div class="btn-group" role="group" aria-label="Basic example">
        <%= button_tag 'submit', :class=> "btn btn-success" do %>
          <i class="fas fa-save" style="font-size: 32px;"></i>
        <% end %>
        <%= link_to products_path, :class=>"btn btn-success" do %>
          <i class="fas fa-arrow-alt-circle-left" style="font-size: 32px;"></i>
        <% end %>
      </div>
      <% end %>
      </div>
     </div>
    </div>
  </div> 
   </div> 