<div class="container">
<div id="edit-row" class="row">
  <div class="col-lg-4 col-md-5 col-sm-4">
    <div class="list-group">
    <span class="list-group-item list-group-item-success"><%=current_user.username%></span>
    <a href="/products/isonsell" class="list-group-item">Satışta Olanlar<span class="badge badge-warning float-right"><%= current_user.psellingcount %></span></a>
    <a href="" class="list-group-item bg-secondary disabled">Satılanlar <span class="badge badge-warning float-right"><%= current_user.psoldedcount %></span></a>
    <% @users.each do |user| %>
     <% if user.id == current_user.id%>
       <%= link_to favorites_index_path , :class=>"list-group-item" do %>
      Favorilerim
      <span class="badge badge-warning float-right"><%= current_user.pfavoritescount %></span>
     <% end %>
    <%= link_to 'Mesajlar', conversations_path(sender_id: current_user.id, receiver_id: user.id), method: :post , :class=>"list-group-item" %>
  <% end %>
   <% end %>
    <a href="/users/edit" class="list-group-item">Üyeliğimi Güncelle</a>
  </div>
  </div>
  <% @product.each do |p| %>
  <% if p.isonsell == false %>
    <div class="col-lg-4 col-md-7 col-sm-8">
    <div class="card" style="width: 18rem;">
   <%= link_to(image_tag(p.photo.url(:medium), :class=>"img-slider"), p) %>
  <div class="card-body">
    <h5 class="card-title"><%= p.pname%></h5>
    <p class="card-text"><%= p.pdescription%></p>
    <%= link_to "Tekrar sat", {:controller => "products", :action => "reactive", :id => p.id}, :class=>"btn btn-warning" %>
  </div>
</div>
</div> 
  <% end %> 
   <% end %>
   </div> 
   </div> 